@media screen and (max-width: 1280px) {
    .sidebar {
        width: 220px;
        padding: 16px;
    }
    .slider-container {
        margin-left: 0px;
        width: 220px;
    }

    .btn {
        padding-left: 0px;

        .pname {
            margin-left: 270px;
        }
        .pseason {
            margin-left: 150px;
        }
        .parea {
            margin-left: 120px;
        }
        .pgrowth {
            margin-left: 110px;
        }
    }

    .container {
        padding-left: 225px;
    }
    .table-con {
        width: 300px;
        margin-left: 0px;
    }
    
    .dall {
        padding-left: 1110px;
    }
    .hellotable {
        .table-container {
            margin-left: 220px;
            width: 80%;
        }
    }

}

@media screen and (max-width: 1024px) {
    .sidebar {
        width: 200px;
        padding: 10px;
    }
    .slider-container {
        width: 200px;
        top: 570px;
    }
    .menu a {
        font-size: 14px;
    }
    .btn {
        padding-left: 0px;

        .pname {
            margin-left: 240px;
        }
        .pseason {
            margin-left: 60px;
        }
        .parea {
            margin-left: 65px;
        }
        .pgrowth {
            margin-left: 70px;
        }
    }

    .container {
        padding-left: 210px;
    }
    .table-con {
        width: 300px;
        margin-left: 0px;
    }
    
    .dall {
        padding-left: 850px;
    }
    .hellotable {
        .table-container {
            margin-left: 210px;
            width: 75%;
        }
    }
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 100vw;
        position: static;
        height: 220px;
    }
    .logo {
        margin-bottom: 0px;
    }
    .logo img {
        width: 110px;
    }
    .logo h1 {
        display: none;
    }
    .menu {
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 4px;
    }
    .bar {
        .box {
            width: 80%;
        }
    }
    .slider-container {
        display: none;
    }

    .btn {
        padding-left: 0px;
        margin-bottom: 12px;
        .pname {
            margin-left: 80px;
        }
        .pseason {
            margin-left: 20px;
        }
        .parea {
            margin-left: 20px;
        }
        .pgrowth {
            margin-left: 20px;
        }
    }
    .container {
        flex-wrap: wrap;
        padding-left: 0px;
    }
    .table-con {
        width: 300px;
        margin-left: 60px;
        margin-bottom: 12px;
    }
    
    .dall {
        padding-left: 580px;
        margin-bottom: 12px;
    }
    .hellotable {
        padding-left: 5px;
        .table-container {
            margin-left: 0px;
            width: 85%;
        }
    }
}

@media screen and (max-width: 480px) {
    .sidebar {
        width: 100vw;
        position: static;
        height: 220px;
    }
    .logo {
        margin-bottom: 0px;
    }
    .logo img {
        width: 110px;
    }
    .logo h1 {
        display: none;
    }
    .menu {
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 4px;
    }
    .bar {
        .box {
            width: 80%;
        }
    }
    .slider-container {
        display: none;
    }

    .btn {
        padding-left: 0px;
        margin-bottom: 12px;
        .pname {
            margin-left: 0px;
        }
        .pseason {
            margin-left: 0px;
        }
        .parea {
            margin-left: 0px;
        }
        .pgrowth {
            margin-left: 0px;
        }
    }
    .container {
        flex-wrap: wrap;
        padding-left: 0px;
    }
    .table-con {
        width: 350px;
        margin-left: 40px;
        margin-bottom: 12px;
    }
    
    .dall {
        padding-left: 250px;
        margin-bottom: 12px;
    }
    .hellotable {
        padding-left: 5px;
        .table-container {
            margin-left: 0px;
            width: 85%;
        }
    }
}